@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--white: 0 0% 100%;
		--gray-50: 220 20% 98%;
		--gray-100: 220 14% 96%;
		--gray-200: 220 13% 91%;
		--gray-300: 216 12% 84%;
		--gray-400: 218 11% 65%;
		--gray-500: 220 9% 46%;
		--gray-600: 215 14% 34%;
		--gray-700: 217 19% 27%;
		--gray-800: 215 28% 17%;
		--gray-900: 221 39% 11%;
		--gray-950: 224 71% 4%;
		--charge: 25 95% 53%;

		/* Controls the background. If a components relies on the background, it may use this var */
		--surface: var(--white);
		--surface-muted: var(--gray-50);

		--muted: var(--gray-100);
		--muted-foreground: var(--gray-500);

		--card: var(--white);
		--card-foreground: var(--gray-900);

		--border: var(--gray-200);
		--input: var(--gray-200);

		--primary: var(--gray-900);
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: var(--gray-900);

		--accent: 210 40% 96.1%;
		--accent-foreground: var(--gray-900);

		--destructive: 0 100% 50%;
		--destructive-foreground: 210 40% 98%;

		--ring: 215 20.2% 65.1%;

		--radius: 0.5rem;

		/* Custom styles for extending shadcn */
		--text-main: var(--gray-800);
		--text-muted: var(--gray-500);
	}

	.dark {
		--surface: var(--gray-950);
		--surface-muted: var(--gray-900);

		--background: var(--gray-950);
		--foreground: var(--gray-300);

		--muted: var(--gray-800);
		--muted-foreground: var(--gray-500);

		--card: 224 83% 7%;
		--card-foreground: 213 31% 91%;

		--border: 216 34% 17%;
		--input: 216 34% 17%;

		/* For buttons */
		--primary: var(--gray-300);
		--primary-foreground: var(--gray-950);

		--secondary: var(--gray-900);
		--secondary-foreground: 210 40% 98%;

		--accent: 216 34% 17%;
		--accent-foreground: 210 40% 98%;

		--destructive: 0 63% 31%;
		--destructive-foreground: 210 40% 98%;

		--ring: 216 34% 17%;

		--radius: 0.5rem;

		/* Custom styles for extending shadcn */
		--text-main: var(--gray-100);
		--text-muted: var(--gray-400);
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply transition-colors antialiased;
		font-feature-settings:
			'rlig' 1,
			'calt' 1;
		text-rendering: optimizeLegibility;
	}
}
